.page-bollo .case-nav .core-child{padding-left:24px}.page-bollo .case-nav .core-child.active{padding-left:38px}.core-label{color:#969696;line-height:1.4;font-size:18px;font-weight:500}.updated-awards,.updated-awards p{white-space:normal!important;line-height:1.4!important}.updated-awards p{margin:0!important}
@media(max-width:1000px){.page-bollo .case-nav .core-child{padding-left:0}.core-label{display:none}}

.clay-photo-corrected [data-node-id="354:6237"] img{transform:rotate(90deg) scale(1.5);object-fit:cover}
